my_image.part-aa filter=lfs diff=lfs merge=lfs -text
my_image.part-ab filter=lfs diff=lfs merge=lfs -text
my_image.part-ac filter=lfs diff=lfs merge=lfs -text
my_image.part-ad filter=lfs diff=lfs merge=lfs -text
